fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
pydantic
pydantic-settings
email-validator
pytest
httpx
passlib[argon2]
bcrypt==3.2.2
python-jose[cryptography]
python-multipart
docker
slowapi
redis
fastapi-mail
alembic